.toppad{
    margin-bottom: 90px;
}
.taille{
    font-size: 2.5em;
    background-color: #FF7A0B;
}
h1 {
    text-align:center;
    font-size: 25px;
}

nav img {
    margin:0 auto;
    display:inline;
}

/* Rating System */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: 30px;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

.rating2 {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: 30px;
}
.rating2 > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating2 > span:hover,
.rating2 > span:hover ~ span {
    color: transparent;
}
.rating2 > span:hover:before,
.rating2 > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

.rating3 {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: 30px;
}
.rating3 > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating3 > span:hover,
.rating3 > span:hover ~ span {
    color: transparent;
}
.rating3 > span:hover:before,
.rating3 > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}




table {border: none;}

.table > tbody > tr > td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0 solid #ddd;
}

.row .blabla{
    margin-right: 0px;
    margin-left: 0px;
}

/* #timer{
    background-color: orange;
    color: white;
    font-size: 5em;
    border-radius: 8px;
    width: 92px;
} */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


#clock_wrapper {
    position: absolute;
    top: 1em;
    left: 2em;
}

#clock {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 300px;
}

#timer {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 800%;
    text-align: center;
    width: 300px;
    z-index: 2;
    padding-top: 25%;
    color: #000;
    transition: opacity 350ms linear 0s;
    -webkit-transition: opacity 350ms linear 0s;
}

.half_opacity {
    opacity:0.5;
}
.fa-comments-o,
.fa-home,
.fa-cogs,
.fa-bell
{
    color:white;
}
.fa-comments-o:hover,
.fa-home:hover,
.fa-cogs:hover,
.fa-bell:hover
{
    color:grey;
}
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    border-radius: 0;
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#f39c12 0,#f39c12 100%);
    background-image: -o-linear-gradient(top,#f39c12 0,#f39c12 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f39c12),to(#f39c12));
    background-image: linear-gradient(to bottom,#f39c12 0,#f39c12 100%);
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.panel-title img {
    height: 55px;
    width: 55px;
}

.bloc_sp {
    height: 10vh;
}

.profpic, .ratinglist {
    display:inline-block;
}

.ratinglist {
    float:right;
    text-align:right;
}

.ratinglist > span {
    font-weight: 900;
}

.profpic p {
    display:inline;
}
.panel-title {
    font-weight: 800;
}
.panel-info > .panel-heading {
    color: white;
    background-color: #f39c12;
    border-color: #f39c12;
    background-image: linear-gradient(to bottom,#f39c12 0, #f39c12 100%);

}
.panel-info {
    border-color: #f39c12;
}

.text-info {
    color: white;
}
.td_title{
    text-decoration: underline;
    font-size: 16px;
}
.apl_bdd{
    font-size: 16px;
}
hr.style-two { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
.pp{
    width: 175px;
}
.button_me{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}