.toppad{
    margin-bottom: 50px;
}
.taille{
    font-size: 2.5em;
    background-color: #FF7A0B;
}
h1 {
    text-align:center;
    font-size: 25px;
}

nav img {
    margin:0 auto;
    display:inline;
}

/* Rating System */
.star-rating {
    font-family: 'FontAwesome';
}
.star-rating > fieldset {
    border: none;
    display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: #efe80c;
}
.star-rating > fieldset:not(:checked) > label:before {
    content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
    color: #ebef26;
    text-shadow: 0 0 2px #ebef26;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
    content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
    content: '\f005  ';
}
.star-rating > fieldset > label:active {
    position: relative;
    top: 2px;
}

.star-rating2 {
     font-family: 'FontAwesome';
 }
.star-rating2 > fieldset {
    border: none;
    display: inline-block;
}
.star-rating2 > fieldset:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}
.star-rating2 > fieldset:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: #efe80c;
}
.star-rating2 > fieldset:not(:checked) > label:before {
    content: '\f006  ';
}
.star-rating2 > fieldset:not(:checked) > label:hover,
.star-rating2 > fieldset:not(:checked) > label:hover ~ label {
    color: #ebef26;
    text-shadow: 0 0 2px #ebef26;
}
.star-rating2 > fieldset:not(:checked) > label:hover:before,
.star-rating2 > fieldset:not(:checked) > label:hover ~ label:before {
    content: '\f005  ';
}
.star-rating2 > fieldset > input:checked ~ label:before {
    content: '\f005  ';
}
.star-rating2 > fieldset > label:active {
    position: relative;
    top: 2px;
}

.star-rating3 {
    font-family: 'FontAwesome';
}
.star-rating3 > fieldset {
    border: none;
    display: inline-block;
}
.star-rating3 > fieldset:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}
.star-rating3 > fieldset:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    color: #efe80c;
}
.star-rating3 > fieldset:not(:checked) > label:before {
    content: '\f006  ';
}
.star-rating3 > fieldset:not(:checked) > label:hover,
.star-rating3 > fieldset:not(:checked) > label:hover ~ label {
    color: #ebef26;
    text-shadow: 0 0 2px #ebef26;
}
.star-rating3 > fieldset:not(:checked) > label:hover:before,
.star-rating3 > fieldset:not(:checked) > label:hover ~ label:before {
    content: '\f005  ';
}
.star-rating3 > fieldset > input:checked ~ label:before {
    content: '\f005  ';
}
.star-rating3 > fieldset > label:active {
    position: relative;
    top: 2px;
}
table {border: none;}

.table > tbody > tr > td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0 solid #ddd;
}

.row .blabla{
    margin-right: 0px;
    margin-left: 0px;
}

/* #timer{
    background-color: orange;
    color: white;
    font-size: 5em;
    border-radius: 8px;
    width: 92px;
} */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


#clock_wrapper {
    position: absolute;
    top: 1em;
    left: 2em;
}

#clock {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 300px;
}

#timer {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 800%;
    text-align: center;
    width: 300px;
    z-index: 2;
    padding-top: 25%;
    color: #000;
    transition: opacity 350ms linear 0s;
    -webkit-transition: opacity 350ms linear 0s;
}

.half_opacity {
    opacity:0.5;
}