{% extends "::base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                <div class="panel panel-info">
                    <div class="row blabla">
                        <table class="table table-user-information">
                            <tbody>
                                <tr class="text-center taille">
                                    <td><p>Thank you for using JustAsk ! </p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button href="{{ path('fos_user_profile_show') }}" type="button" class="btn btn-warning"><i class="fa fa-arrow-circle-o-right"></i> Back to my profil</button><span class="pull-right"><button href="{{ path('fos_user_security_logout') }}" type="button" class="btn btn-warning"><i class="fa fa-arrow-circle-o-right"></i> LOGOUT</button></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}